.modal, #authorModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Alterado de 'auto' para 'hidden' para evitar barras de rolagem desnecessárias */
    background-color: rgba(0,0,0,0.4);
    animation: fadeIn 0.5s;
    justify-content: center;
    align-items: center;
}

.modal-content, #authorModal .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px; /* Pode ajustar isso para definir uma largura máxima */
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    overflow-y: auto; /* Permite rolagem dentro do conteúdo do modal se necessário */
    max-height: 90%; /* Isso ajudará a garantir que o modal não ultrapasse a altura da tela */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    transition: opacity 0.5s ease-in-out;
}

.modal-content {
    background-color: #fefefe;
    margin-top: 10vh;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px; /* Arredonda os cantos do conteúdo do modal */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Adiciona sombra ao conteúdo do modal */
    
}

#authorModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    transition: opacity 0.5s ease-in-out;
}

#authorModal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#authorModal .modal-content .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#authorModal .modal-content .close:hover,
#authorModal .modal-content .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#authorModal .modal-content form {
    display: flex;
    flex-direction: column;
}

#authorModal .modal-content form input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#authorModal .modal-content form button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #5C6BC0;
    color: white;
    cursor: pointer;
}

#authorModal .modal-content form button:hover {
    background-color: #3F51B5;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.modal, #authorModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    animation: fadeIn 0.5s; /* Adiciona a animação ao modal */
}

.modal-content, #authorModal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


#postModal .modal-content .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#postModal .modal-content .close:hover,
#postModal .modal-content .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#postModal .modal-content form {
    display: flex;
    flex-direction: column;
}

#postModal .modal-content form input,
#postModal .modal-content form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#postModal .modal-content form button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #5C6BC0;
    color: white;
    cursor: pointer;
}